    @font-face {
      font-family: 'Exo-Bold';
      src: url(../fonts/Exo/static/Exo-Bold.ttf);
    }
    @font-face {
     font-family: 'Exo-Regular';
      src: url(../fonts/Exo/static/Exo-Regular.ttf);
    }
    @font-face {
      font-family: 'clash-royale';
      src: url(../fonts/Clash-Royale/TTF/Clash-Bold.ttf);
    }
  
    @font-face {
      font-family: 'clashregular';
      src: url('../fonts/clash-regular-webfont.woff2');
    }
    body {       
        background-size: cover;
        /*background-image:url(../images/admin_bg.jpg);*/
        /*background-color: #140e38; */
        background-color: #000000 !important;
        background-repeat: no-repeat;  
        font-family: 'clashregular';
    } 
 a{
  text-decoration: none !important;
 }
    .h1, .h2, .h3, .h4, .h5, .h6, h1, h2, h3, h4, h5, h6{
      font-family: 'clashregular';
    }
    select option{
      color: #000000 !important;
      font-family:"clashregular" !important;
    }
    :root{
      --primary-color: #140e38;
      /*--secondary-color: #b154f0;*/
      --secondary-color: #eaa400;
      --white-color: #fff; 
      --light-color:#09002a; 
    }    
    a,
    a:hover,
    a:focus {
      color: inherit;
      text-decoration: none;
      transition: all 0.3s;
    }
    .navbar-default {
      padding: 25px 30px 18px 30px;
      margin-bottom: 40px;
    }   
    .purple-box{
      position: relative;
      background: #09002a4f !important;
      border-radius: 20px !important;
      border: 4px solid #2e2920 !important;
      /*border: 4px solid #281e4d;*/
      /*border: 4px solid #D58900;*/
      box-shadow: 2px 2px 5px #d58900 !important;
    } 
.bg-opacity-1{
  background: #09002a;
}
    .navbar-btn {
      box-shadow: none;
      outline: none !important;
      border: none;
      color: #fff;
    }
    .notification-icon::after {
      content: '';
      position: absolute;
      background-color: var(--secondary-color) !important;
      padding: 5px;
      border-radius: 50%;
      top: 1px;
      right: 0;
    }
    .notification-icon {
      color: var(--white-color);
      font-size: 21px;
      align-items: center;
      position: relative;
      left: 45%;
      top: 23px;
  }
   
    #sidebar .sidebar-header {
      padding: 20px;
    }
    
    #sidebar ul.components {
      padding: 20px 0;
    }
    
    #sidebar ul p {
      color:var(--white-color);
      padding: 10px;
    }
    
    #sidebar ul li a {
      line-height: 38px;
      font-weight: 700;
      text-transform: capitalize;
      font-family: 'clashregular';
    }
    #sidebar ul li.active a{
      color: var(--white-color) !important;
    }
    #sidebar ul li a{
      color: var(--primary-color);
      background: transparent;
      padding: 5px 20px;
      margin-bottom: 10px;
      display: block;
    }
    #sidebar ul li a:hover {
      color: var(--white-color);
      background: var(--secondary-color);
      border-radius: 10px;
    }
    
    #sidebar ul li.active > a,
    a[aria-expanded="true"] {
      color: var(--white-color);
      border-radius: 10px;
      background-color: var(--secondary-color);
    }
    
    a[data-toggle="collapse"] {
      position: relative;
    }
    
    a[aria-expanded="false"]::before,
    a[aria-expanded="true"]::before {
      content: '\e259';
      display: block;
      position: absolute;
      right: 20px;
      font-family: 'clashregular';
      font-size: 0.6em;
    }
    
    a[aria-expanded="true"]::before {
      content: '\e260';
    }
    .theme-btn:focus,.theme-btn:active,.theme-btn:focus-visible,
    .btn-info:focus, .btn-info:active, .btn-info:focus-visible,
    .btn-info:hover {
      color: #fff;
      background-color: #31d2f200;
      border-color: #25cff200;
      outline: 0;
      box-shadow: unset;
    }
    #sidebarCollapse{
      display: none;
    }

    /* Dashboard Content */
    #content {
      width: calc(100% - 320px);
      padding: 0px;
      min-height: 100vh;
      transition: all 0.3s;
      position: absolute;
      top: 0;
      right: 0;    
    }
    .dropdown-toggle::after{
      color: white !important;
    }
    .member-name{
      font-size: 30px;
      color: #ffffff;
      font-weight: 700;
      font-family: 'clashregular';
      text-shadow: 1px 2px 0px #b154f0;
      margin-bottom: 3px;
    }
    .table-title,
    .welcome-txt{
      font-size: 18px;
      color: #ffffff;
      font-family: 'clashregular';
      margin-bottom: 10px;
    }
    .member-image{
      display: inline-block;
      overflow: hidden;
    }
   
   .profile-details button{
    background: transparent !important;
    border: 0 !important;
    padding: 0 !important;
    display: flex;
    align-items: center;
   }
   
    .profile-details .admin-name{
      margin: 0px 10px;
      white-space: nowrap;
      font-size: 16px;
      letter-spacing: 0px;
      color: #ffffff;
      font-weight: 400;
      font-family: 'clashregular';
    }
  
    .profile-details ul{
     
      background: #09002a;
      border-radius: 20px;
      border: 4px solid #281e4d;
    }   
    .profile-details ul li a{
      font-size: 16px;
      color: var(--white-color);
      font-weight: 700;
      text-transform: capitalize;
      font-family: 'clashregular';
      padding: 7px 20px;
      margin: 0;
    }
    .profile-details ul li a:hover{
      text-decoration: unset;
      color: var(--secondary-color);
    }
    .profile-details:hover ul {
      display: block;
    }
    #sidebar{
      padding: 20px;
      box-shadow: 5px 0 10px -5px rgba(177, 83, 240, 0.28);
      height: 100%;
    }
    #sidebar ul li i, #sidebar ul li a{
      /*font-size: 16px;*/
      font-size: 14px;
      color: var(--white-color);
      letter-spacing: 1px;
    } 
    .footer{
      background: #09002a;
      border-top: 4px solid #281e4d;
      text-align: center;
      color: #fff;
      padding-top: 15px;
      position: absolute;
      width: 100%;
      left: 0;
      bottom: -5px;
    }
  
    .main-wrapper{
      position: relative;
      min-height: 100vh;
    }
    .main-wrapper > div > .row,
    .main-wrapper > div{
      min-height: 100vh;

    }
    .footer p{
      font-family: 'clashregular';
      letter-spacing: 2px;
      font-size: 14px;
    }
   
    .statistics-row{
      border: 4px solid #281e4d;
      background: var(--light-color);
      border-radius: 10px;
      margin: 40px;
      margin-bottom: 40px;
    } 
    
    /* card */
   
    .card-header
    {
      position: relative;
      padding: 0px !important;
    }
    .progress-bar{
      background-color: #af60ea !important;
    }
    .balance-card{
      border-radius: 20px;
      background-color: #1d1d1d;
      padding: 25px;
      border: 4px solid #2e2920;
      /*border: 4px solid #281e4d;*/
      /*border: 4px solid #D58900;*/
      box-shadow: 2px 2px 5px #d58900;
    }
    .bonus-card{
      background-image: url(../images/bonus.png);
      background-repeat: no-repeat;
      background-size: cover;
      padding: 15px;
      background-position: center;
    }
    .theme-btn:hover{
      color: var(--white-color) !important;
      background-color: transparent !important;
    }
    .card-header img.queen{
      left: -50px;
     
      position: absolute;
      bottom: -35px;
    }
    .balance-col
    {
      padding-left: 14px;
      padding-right: 14px;
      height: auto;
    }
    .box-topic{
     font-family: 'clashregular';
      font-size: 16px;
      letter-spacing: 0px;
      color: var(--grey-color);
      font-weight: 400;
      margin-bottom: 12px;
    }
    .card-header i{
      font-size: 17px;
      line-height: 23px;
      margin-right: 15px;
    } 
    .card-body{
      padding-top: 24px !important; 
    }
    .balance{
      font-size: 16px;
      letter-spacing: 0px;
      color: var(--grey-color);
      font-weight: 300;
     font-family: 'clashregular';
    }
    .card-title{
      font-size: 18px;
      color: #ffffff;
      font-weight: 700;
      font-family: 'clashregular';
      text-shadow: 1px 2px 0px #b154f0;
      text-align: right;
      margin-bottom: 10px;
    }
    .coin-balance
    {
      color: #ffffff;
      font-family: 'clashregular';
      text-align: right;
      font-size: 25px;
      display: flex;
    align-items: center;
    justify-content: flex-end;
    }
    .theme-text{
      color: #D58900 !important;
    }
    .col-bg{
      border-radius: 20px;
      filter: drop-shadow(0 0 6px #000212);
      background-color: #0e1124;
      padding: 43px 30px 45px 30px;
      height: 100%;
    } 
    .column{
      padding-right: 12.5px;
      padding-left: 12.5px;
    }
    .gaming_update_btn .btn.btn-link {
      font-size: 19px;
      padding: 0 10px;
    }
    .theme-btn {
      background-image: url('../images/button-shape.webp');
      background-size: contain;
      background-repeat: no-repeat;
      background-color: transparent;
      border: 0px;
      padding: 20px 23px;
      font-size: 16px;
      font-family: 'clashregular';
      line-height: 8px;
    }
    .theme-btn:hover {
      background-image: url('../images/button-shape_2.png');
    }
    /* Parmita Css */
    .content-wrapper{
      padding: 50px 20px 120px;
    }
    .nav-close{
      display: none;
      background-image: url('../images/button-shape.webp');
      background-size: 100% 100%;
      background-repeat: no-repeat;
      background-color: transparent;
      border: 0;
      background-position: center;
      padding: 10px 20px;
      position: absolute;
      top: 10px;
      right: 20px;
    }
    .mobile-nav{
      display: none;
    }
    #sidebar{
      position: relative;
    }
    #sidebar::after{
      content: "";
      background: url(../images/titan_min.png);
      width: 410px;
      position: absolute;
      bottom: 40px;
      background-size: contain;
      height: 470px;
      background-repeat: no-repeat;
      right: -200px;
      z-index: 1;
    }
    #sidebar ul li{
      position:relative;
      z-index: 2;
    }
    .purple-budge-title-2 h3,
    .purple-budge-title h3{
      background-image: url(../images/text-mini-shape.png);
      display: inline-block;
      background-size: contain;
      padding: 0px 60px;
      background-repeat: no-repeat;
      background-position: center;
      color: #fff;
      font-family: 'clashregular';
      font-size: 25px;
      line-height: 60px;
      margin-top: 0px;
    }
    .purple-budge-title-2 h3{
      width: 90%;
      line-height: 37px;
      padding: 5px;
      background-size: 100% 100%;
    }
    .purple-budge-body h2{
      color: #fff;
      font-family: 'clashregular';
    }
    .single_counterup {
      margin-right: 50px;
      padding-right: 50px;
      position: relative;
    }
    .single_counterup::before {
      position: absolute;
      content: "/ /";
      right: 0;
      top: 50%;
      font-size: 14px;
      -webkit-transform: translatey(-50%);
      transform: translatey(-50%);
      color: #33cb33;
      font-weight: bold;
      font-family: 'clashregular';
    }

    .counterup_text {
      text-align: center;
    }
    h2.level-txt,
    .counterup_text h2 {
      font-size: 80px;
      line-height: 80px;
      font-weight: 400;
      font-family: "Metal Mania", cursive;
      margin-bottom: 9px;
    }
    .counterup_text span {
      /*font-size: 18px;*/
      font-size: 14px;
      line-height: normal;
      color: #f3f3f3;
      text-transform: uppercase;
      font-family: 'clashregular';
    }
    h2.level-txt,
    .counterup_text h2.color1 {
      color: #ffb300;
    }
    .single_counterup:last-child {
      margin-right: 0;
      padding-right: 0;
    }
    .counterup_text h2.color2 {
      color: #df4c21;
    }
    .single_counterup:last-child::before {
      display: none;
    }
    h2.level-txt{
      font-size: 150px;
      line-height: normal;
    }
    .level-wrap{
      height: calc(100% - 53px);
      display: flex;
      align-items: center;
      justify-content: center;
    }
    /* Datatable */
    .datatable-row{
      color: #fff;
    }
    .dataTable th{
      color: #fff;
      font-size: 16px;
      letter-spacing: 0px;
      font-family: 'clashregular';
      padding: 10px 30px 10px 0px;
      vertical-align: middle;
    }
    .datatable-values td {
      font-size: 16px;
      color: var(--white-color);
     font-family: 'clashregular';
      padding: 15px 20px 15px 0px;
      vertical-align: middle;
      border-bottom: 1px solid rgb(170,170,170,0.2) !important;
    }
    .theme-btn2 {
      border-radius: 5px;
      background-color:#fff !important;
      padding: 4px 14px;
      font-size: 16px !important;
      font-family: 'Exo-regular' !important;
      color: var(--white-color) !important;
      border: 0px;
    }
    .theme-btn3 {
      border-radius: 5px;
      background-color: #3ebdfb !important;
      padding: 4px 14px;
      font-size: 16px !important;
      font-family: 'Exo-regular' !important;
      color: var(--white-color) !important;
    }
    #manage_tbl_info,
    .dataTables_wrapper * {
      color: #fff;
    }
    /* .dataTables_wrapper .dataTables_paginate .paginate_button.current, .dataTables_wrapper .dataTables_paginate .paginate_button:hover{
      color: #fff !important;
      background: #3ebdfb !important;
      border-color: #3ebdfb !important;
    } */

    #manage_tbl_paginate{
      display: block;
      width: 100%;
      text-align: center;
    }
    .balance-info{
        font-weight: 700;
        padding: 10px 20px;
        border-radius: 10px;
        background-color: var(--secondary-color);
        font-size: 16px;
       font-family: 'clashregular';
    }
    .datatable-row{
      position: relative;
    }
    table.dataTable tbody th, table.dataTable tbody td {
      padding: 15px 10px;
    }
  
   .datatable-row::after {
    content: "";
    background-image: url(../images/bottle.png);
    width: 107px;
    height: 142px;
    position: absolute;
    background-repeat: no-repeat;
    background-size: cover;
    right: 0px;
    bottom: -40px;
    z-index: 1;
  }
  .breadcrumb-row{
    /* margin-bottom: 45px; */
  }
  .breadcrumb-title{
    line-height: 38px;
    font-weight: 700;
    text-transform: capitalize;
    font-family: 'clashregular';
    color: #fff;
    margin: 0;
    border-bottom: 1px solid #b154f0b0;
    padding-bottom: 15px;
  }
  .breadcrumb-title a{
    font-family: 'clashregular';
    text-shadow: 1px 2px 0px #b154f0;
  }
  .datatable-values td a {
    color: #ffa700;
  }
  .actions-toggle ul{
    list-style: none;
    margin: 0;
  }
  .actions-toggle {
    position: absolute;
    border-radius: 15px;
    filter: drop-shadow(0 0 6px #3ebdfb);
    background-color: #3ebdfb;
    padding: 15px;
    z-index: 1;
    left: 20%;
    top: 50px;
    min-width: max-content;
    transform: translateX(-50%);
  }
  .actions-toggle a{
    color: #fff !important;
  } 
  /* profile page */
  .profile-row{
    margin-top: 150px;
  }
  .profile-img{
    padding: 20px;
    width: 150px;
    height: 150px;
    margin: auto;
    background-repeat: no-repeat;
    margin-top: -75px;
    background: #000;
    border-radius: 50%;
    border: 4px solid #2e2920;
    box-shadow: 2px 2px 5px #d58900;
    margin-bottom: 50px;
  }
  .profile-info h4 {
    font-size: 16px;
    line-height: 22px;
  }
  .theme-border-btn{
    background: url(../images/btn-signup.webp);
    font-size: 16px;
    line-height: 60px;
    cursor: pointer;
    padding: 20px;
    background-size: contain;
    background-repeat: no-repeat;
    text-transform: uppercase;
    font-family: 'clashregular';
  }
  .form_input {
    margin-bottom: 30px;
  }
  .form-control,#manage_tbl_wrapper select,
  .form_input select,#manage_tbl_wrapper input,
  .form_input input {
    width: 100%;
    height: 50px ;
    padding: 0 25px !important;
    line-height: 17px;
    color: #ffffff !important;
    background: inherit;
    border: 2px solid #b154f040 !important;
    border-radius: 10px !important;
    background-color: transparent !important;
  }

  .form-control[type="file"]{
    padding: 0;
  }
  .form-control::file-selector-button{
    background-color: #b154f0;height: 60px;color: #fff;padding: 0 5px;margin: 0;font-size: 16px;width: 100px;margin-right: 10px;
  }
  .form_textarea textarea{
    width: 100%;
    padding: 15px 25px;
    color: #ffffff;
    background: inherit;
    border: 2px solid #b154f040;
    border-radius: 10px;
    min-height: 150px;

  }
  .theme-border-btn[type=submit]{
    border: 0;
    line-height: 25px;
    color: #fff;
  }
  #manage_tbl_wrapper input,
  #manage_tbl_wrapper select{
    height: 50px;width: auto !important;
  }
  /* End css */
  @media (max-width: 531px) {
    .mobile-member-username {
      display: none;
    }
  }
  @media (min-width: 531px) {
    .mobile-username {
      display: none;
    }
  }
    @media (max-width: 991px) {
      #sidebar {
        margin-left: -314px;
        width: 300px;
        position: fixed;
        z-index: 3;
        background-color: var(--primary-color);
        overflow: auto;
      }
      .border-end{
        border-bottom: 1px solid #dee2e6!important;
        border-right: 0 !important;
      }
      .content-wrapper{
        padding: 0 0 100px;
      }
      .mobile-nav{
        display: block;
        background-color: var(--primary-color);
        box-shadow: 0 10px 10px -5px rgba(177, 83, 240, 0.28);
        margin: 0 -10px 40px;
      }
      .nav-close.open{
        display: block;
        right: 0px;
      }
      
      #sidebar.active { 
        margin-left: -15px;
      }
      #content {
        width: 100%;
      }
      #content.active {
        width: calc(100% - 250px);
      }
      .navbar-default,
      #sidebarCollapse span {
        display: none;
      }
      #sidebarCollapse{
        display: block !important;
      }
      #sidebar::after {
        content: unset !important;
      }
      
      .income-row{
        margin-top: 0 !important;
        margin-bottom: 30px !important;
      }
    }

    @media screen and (max-width: 771px) {
      #fixed-sidebar {
          display: none;
      }
      #navbar-superior {
          display: block !important;
      }
      .card-title {
        font-size: 20px;
      }
      .coin-balance{
        font-size: 20px;
      }
      .coin-balance img{
        width: 22px;
      }
      .card-header img.queen {
        left: -38px;
     
      }
      .breadcrumb-title {
        font-size: 20px;
      }
      .purple-budge-title-2 h3, .purple-budge-title h3{
        font-size: 20px;
      }
      h2.level-txt, .counterup_text h2 {
        font-size: 70px;
        line-height: 70px;
      }
      h2.level-txt {
        font-size: 100px;
        line-height: 100px;
      }
      .footer p{
        font-size: 16px;
      }
      .datatable-row::after {
        width: 100px;
        height: 100px;
        background-size: contain;
        bottom: 0;
      }
      .level-info{
        margin-bottom: 40px;
        height: auto !important;
      }
      .h-100{
        height: auto !important;
      }
      .form-box{
        padding: 30px 20px 20px !important;
      }
    }
    @media only screen and (min-device-width: 772px) and (max-device-width: 1024px) {
      .member-name {
        font-size: 28px;
      }
      /* .card-header img.queen {
        left: -72px;
        position: absolute;
        bottom: -57px;
      } */
      /* .purple-budge-title h3{
        font-size: 18px;
      }
      .purple-budge-body h2 {
        font-size: 20px;
      }
      .card-title{
        font-size: 14px;
      } */
    }

    @media (max-width: 1199px) {
      .balance-card{
        margin-bottom: 40px;
      }
    }
    @media only screen and (min-device-width: 772px) and (max-device-width: 1366px) {
      #sidebar {
        padding: 0px;
      }
      #sidebar ul li a {
        padding: 5px;
      }
    }
    .form-control:disabled, .form-control[readonly] {
      background-color: #3c2462;
      opacity: 1;
  }
  #sidebar .dropdown-menu{
    position: relative !important;
    min-width: auto !important;
    background-color: transparent !important;
    transform: unset !important;
    border: unset !important;
  }
  a[aria-expanded="false"]::before, a[aria-expanded="true"]::before{
    content: unset !important;
  }
  .form-control:focus{
    color: #fff !important;
    box-shadow: unset !important  ;
    background-color: transparent !important;
  }
  select.form-control{
    appearance: auto !important;
    -webkit-appearance: auto !important;
  }
  .modal-content{
    background-color: #b154f0;
    border: 1px solid rgb(254 185 119);
  }
  

  .modal-content::after{
    content: "";
    background-image:url("../images/roayl_champ250.png");
    background-size: contain;
    background-position: center;
    height: 210px;
    width: 205px;
    position: absolute;
    right: -50px;
    bottom: 0px;
    background-repeat: no-repeat;
  }
  .modal-title{
    font-family: 'clashregular';
    font-size: 30px;
  }
  .modal-body{
    font-family: 'clashregular';
  }
  @media(max-width:500px){
    .balance-info{
      display: block;
    }
  }